<ion-view view-title="Acerca De">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/gor.jpg">
        <h2> Jefe Gorgory</h2>
        <p>Manager</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img\gorgory.jpg">
        <p>
          "EL MAPA DEL DELITO": Aplicación Mobile desarrollada con el fin de controlar el crimen con la ayuda de todos aquellos que presencien un 
          hecho delictivo y sienta la necesidad de reportar el mismo, para así lograr una sociedad libre de delincuentes o al menos 
          ayudar a desenmascarar a los mismos.
        </p>
        
      </div>

    </div>

  </ion-content>
</ion-view>