<ion-view view-title="Mapa">
  <ion-content>

    <div name="step1" ng-hide="true">

      <leaflet width="100%" height="450px" center="center" markers="markers" padding=2> </leaflet>
      <button class="button button-block button-positive"> Denunciar </button>

    </div>


    <div name="anonimo" ng-show="true" ng-hide="false">
      
      <leaflet width="100%" height="450px" center="center" markers="markers" padding=2> </leaflet>
            
      <label class="item item-input">
        <textarea placeholder="Descripción"></textarea>
      </label>
      <!--<button class="button icon ion-checkmark-round"></button>
      <button class="button icon ion-ios-camera-outline"></button>-->
      
      <div class="button-bar">
        
        <a class="button button-icon icon ion-android-camera float-left" ng-click="foto" ></a>
        <a class="button button-icon icon ion-android-done float-right" ng-click="hecho"></a>
      </div>
      <a class="button button-block button-positive icon ion-arrow-move icon-right" ng-click="moverMarker">Mover marca</a>
           


    </div>

  </ion-content>
</ion-view>