/* Empty. Add your own CSS if you like */
textarea {
  width: 100%;
  height: 6em;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
}